* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  position: relative;
  min-height: 100%;
  background-color: #ebe9cc;
  padding-bottom: 100px;
}

html {
  height: 100%;
}

#list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 55px;
  color: #05052e;
  background-color: gold;
  list-style: none;
  padding-left: 25px;
  font-size: larger;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#logo {
  background-color: #0c0c52;
  color: whitesmoke;
  height: 35px;
  padding: 7px;
}

#generalImage {
  width: 100%;
  height: auto;
}

.banner {
  position: relative;
  border: solid 3px #b7c919;
}

h1 {
  color: gold;
  text-align: center;
  font-family: cursive;
}

.banner h1 {
  line-height: 1;
  margin: 0;
  position: absolute;
  top: 75%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-transform: uppercase;
  font-size: 7vw;
}

section {
  background-color: #caa3b6;
  border: solid 3px green;
  padding-top: 15px;
  padding-left: 15px;
}

h2 {
  color: #4535d4;
}

h3 {
  color: #274707;
  padding-top: 15px;
}

#rules {
  padding-left: 25px;
  font-size: large;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.wrapper {
  border: solid 5px #131010;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.player {
  border: solid 5px #a2b30a;
  border-radius: 15px;
}

.username {
  padding-top: 15px;
  text-align: center;
  font-size: 2em;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.avatar {
  border: solid 3px red;
}

img {
  max-width: 100%;
}
.default_dices {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
._dices {
  border: solid 3px green;
}

.roll_dice, input {
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
}

.scores {
  border: solid 3px orangered;
  margin-bottom: 15px;
}

.final_score {
  border: solid 3px brown;
  padding-bottom: 15px;
}

button, input {
  background-color: #a0baeb;
  font-size: 19px;
  border-radius: 5px;
  padding: 5px;
}

a {
  color: #0c033f;
}

button, input:hover {
  background-color: #a4cea4;
}

ol {
  list-style: none;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#reset {
  border: solid 3px palevioletred;
  text-align: center;
}

#winner {
  border: solid 3px #8f0a94;
  margin-top: 15px;
  text-align: center;
  font-weight: bolder;
  font-size: 45px;
  color: red;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer {
  height: 75px;
  background-color: #1e4d07;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
/*# sourceMappingURL=styles.css.map */
